body {
  background-color: pink;
  #index {
    color: blue;
    background-image: url('../../../static/assets/vuejobs.png');
    width: 360px;
    height: 110px;
    background-repeat: no-repeat;
  }
}
