/* :root{
	--red:#d33;
	--blue:blue;
}

h1{
	color:var(--red);
	display:flex;
	transform:rotate(7deg);
}

a{
	transform:rotate(20deg);
} */


// @import "../css/main.scss";
h2{
	color:#ff2d55;
	a{
		color:blue;
	}
} 
/* 

<style lang="css">
	
	h1{
		color:red;
	}
	
</style>*/
